{% extends 'publisher/base.html' %}
{% load static %}


{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3" style="color: red">
      <p style="color: blue"></p>
    </div>

    <div class="col-sm-6 lao" style="padding-top: 87px">
      <div class="card">
        <div class="card-header text-primary">
          ກ່ຽວກັບຄະນະວິສະວະກຳສາດ
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">

          <div class="row">
            <div class="col-sm-4"></div>
            <div class="form-group">
              <p>
                ຄະນະວິສະວະກຳສາດ (Faculty of Engineering) ຂຽນຫຍໍ້ ຄວສ (FEN) ແມ່ນ ໜຶື່ງໃນ 6 ຄະນະຂອງມະຫາວິທະຍາໄລສຸພານຸວົງ
                ເຊິ່ງສ້າງຕັັ້ງຂຶ້ນໃນສົກຮຽນ 2006-2007 ໃນລະບົບການສຶກສາ  (1+4) ໃນນັັ້ນ 60% ເປັນທິດສະດີ ແລະ 40% ສໍາລັບການປະຕິບັດຕົວຈິງ.
                ມາຮອດສົກສຶກສາ 2011-2012 ໄດ້ປ່ຽນມາເປັນລະບົບການສຶກສາ 0+4 ລະບົບປະລິນຍາຕີ. ປະກອບມີ 4 ພາກວິຊາ: ວິສະວະກໍາໄຟຟ້າ, 
                ວິສະວະກໍາຄອມພິວເຕີ,  ວິສະວະກໍາໂຍທາ, ວິສະວະກໍາວັດສະດຸສາດ. ມີ 7 ສາຂາວິຊາ: ວິສະວະກໍາໄຟຟ້າ,ວິສະວະກໍາຄອມພິວເຕີ, ວິສະວະກໍາໂຍທາ,
                ເຕັກໂນໂລຊີໂລຈິສຕິກ,ວິສະວະກໍາວັດສະດຸສາດ ,ວິສະວະກໍາອີເລັກໂຕນິກ ແລະ ການສື່ສານ ແລະ ວິສະວະກຳໄອທີ
              </p>
              <p>
                ຄະນະວິສະວະກຳສາດ ຈະຕ້ອງເປັນແຫຼ່ງຜະລິດນັກວິສະວະກອນທີ່ເກັ່ງທາງດ້ານວິຊາການ, ພຽບພ້ອມໄປດ້ວຍຄຸນສົມບັດທີ່ດີ, ແທດເໝາະ ແລະ ເປັນທີ່ຕ້ອງການຂອງສັງຄົມ ທັງພາຍໃນ ແລະ ຕ່າງປະເທດ.
                ເປັນແຫຼ່ງໃຫ້ບໍລິການທາງດ້ານວິຊາການແກ່ສັງຄົມດ້ວຍຄວາມໝັ້ນໃຈ ແລະ ຮັບປະກັນ ທາງດ້ານຄຸນນະພາບ.
              </p>
            </div>

            <div class="col-sm-4"></div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-3" style="color: red">
  </div>

</div>
</div>

<script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'js/main.js' %}"></script> -->
</body>

</html>
{% endblock %}